[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

Flask = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
passlib = "*"
flask-cors = "*"

[requires]

python_version = "3.6"
